body {
  background-color: #202124;
  color: white;
  font-size: medium;
  font-family: Arial, Helvetica, sans-serif;
}

.content {
  padding: 50px;
  padding-top: 90px;
  line-height: 30px;
}

h1 , h2 , h3 , h4{
  color: #42a5f5;
}

#header {
  background-color: #303236;
  position: fixed;
}

#header a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-weight: normal;
}

#header a:hover {
  background-color: #767779;
  color: black;
}

#header a.active {
  background-color: #42a5f5;
  color: white;
}

a{
  color: #42a5f5;
  font-weight: bold;
}

a:hover{
  color: #f1e740;
  cursor: pointer;
}

.forras{
  color: gray;

}