body {
    background-color:#324851;
    color: #86AC41;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 50px;
    margin-right: 50px;
   }
h1{
    text-align: center;
}