body {
    background-color:#324351;
    color: #dfd98a;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 40px;
   }
h1{
    text-align: center;
    padding: 10px;
}
.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}